class <%= migration_class_name %> < ActiveRecord::Migration<%= migration_version %>
  def change
    create_table :mailkick_opt_outs do |t|
      <%= email_column %>
      t.references :user, polymorphic: true
      t.boolean :active, null: false, default: true
      t.string :reason
      t.string :list
      t.timestamps
    end
  end
end
